
<header>
  <input type="text" [formControl]="searchField">
</header>

<app-reactive-forms></app-reactive-forms>

<!--
  1. FormsModule
  2. NgModel
  3. NgModelOptions
  4. NgFormOptions (updateOn, standalone)
  5. Submit form
  6. Groupping
  7. Control state (classes)
  8. Validators (native form validations)
  9. Browser Error messages
  10. Custom Validation (ban words)
-->

<!--
  Standalone Control
  Strict Types in Forms
  NonNullable
  FormRecord, FormBuilder
  Validators,
  Custom Validators
  Async Validators

  Error Messages
  Component, token
  Configure errors
  trackby improve
  error message pipe

  Dynamic Error messages? Directive
-->
